<div layout="row">
    <div flex class="bg-green bordered">First item in row</div>
    <div flex class="bg-blue bordered">Second item in row</div>
</div>
<div layout="column">
    <div flex class="bg-green bordered">First item in column</div>
    <div flex class="bg-blue bordered">Second item in column</div>
</div>
<div layout="row">
    <div flex class="bg-green bordered" layout-padding>First item in row with padding</div>
    <div flex class="bg-blue bordered" layout-padding>Second item in row with padding</div>
</div>
<div layout="column">
    <div flex class="bg-green bordered" layout-padding>First item in column with padding</div>
    <div flex class="bg-blue bordered" layout-padding>Second item in column with padding</div>
</div>
<div layout="row">
    <div flex class="bg-green bordered" layout-margin>First item in row with margin</div>
    <div flex class="bg-blue bordered" layout-margin>Second item in row with margin</div>
</div>
<div layout="column">
    <div flex class="bg-green bordered" layout-margin>First item in column with margin</div>
    <div flex class="bg-blue bordered" layout-margin>Second item in column with margin</div>
</div>

<div layout="row">
    <div flex="25" class="bg-blue bordered">
        25%
    </div>
    <div flex="auto" class="bordered">
        Auto 1
    </div>
    <div flex="auto" class="bordered">
        Auto 2
    </div>
    <div flex="auto" class="bordered">
        Auto 3
    </div>
</div>

<div layout="row">
    <div flex="75" class="bordered">
        Complex
    </div>
    <div flex="auto" layout="column" class="bordered">
        <div flex class="bordered">
            Item 1
        </div>
        <div flex class="bordered">
            Item 2
        </div>
    </div>
</div>

<div layout="row">
    <div flex>
        <span><i class="material-icons">accessibility</i>Enabled</span>
    </div>
    <div flex>
       <i class="material-icons">accessibility</i><span>Inside</span>
    </div>
</div>