.bg-green {
   background-color: #009688;
}
.bg-purple {
    background-color: #3949ab;
}
.bg-blue {
    background-color: #106cc8;
}
.bordered {
    border: #E5E8E8 1px solid;
}
.icon-text {
    display: inline-flex;
    vertical-align: middle;
}